# Assignment - 1

# question-1

values can be integer or string or float.

Here some examples of values

1 'Hello'- string (it can written as single or double quotes)

2  -87.8 - float(decimal)

3   6    - integer(number)

Expression used as a mathematical operator

1   *   multiplication operator

2   +   addition operator

3   -   subtraction operator

4   /   division operator

# question 2

 string - It is a specific kind of data that can be stored in variables and it can be written as single or double quotes.
  Ex: "Hello world"
  
 variables - It is a storage location in a program it can be stored strings, numbers, boolean values, and more.
 
 x = 10 here x is a variable
 
 Here the example of string and variables
 
 name = 'Annamalai'
 
 names is a variable and 'Annamalai' is a string

# question 3

The 3 different types of data types are 

1  integer - The integer data type represents whole numbers without any fractional or decimal parts.
   Ex - 12, -9, 1000
   
2  float   - The float data type represents real numbers that can have both an integer and fractional part.
   Ex - 12.4, -8.1234, 0.5
   
3  boolean  - The boolean data type represents a logical value that can be either true or false and it can be used in conditional statements and logical operation.
   Ex - boolean values include true and false.

# question -4

Expression:
 
Expression is made up of one or more operands and operators.

Operands: These are the values or variables on which the operations are performed
          Ex - '2 + 3' here 2 and 3 are operands
          
Operators: These are symbols or keywords that represent specific operations or actions to be performed on the operands.        
 
Ex:
1 * multiplication operator

2 + addition operator

3 - subtraction operator

4 / division operator

5  = assignment operator

Parentheses: These are used to group sub-expressions and control the order of evaluation.

Ex - (2 + 3) * 4 ensures that the addition is performed before the multiplication.

# question - 5

expression 

An expression is a combination of values, variables, operators.
Expressions can be as simple as a single value or a variable, or they can be complex with multiple operands and operators.
Examples - 2 + 3, x * y

statement

A statement is a complete instruction or command.
Statements are used to control the flow of execution.
Examples of statements include assignment statements, control flow statements (if-else, loops), function definitions, or input/output operations

# question - 6

In [1]:
bacon = 22
bacon = bacon + 1

print(bacon)

23

# question -7

In [3]:
# The values of the two terms would be as follows

x = 'spam' + 'spamspam'
y = 'spam' * 3

print(x)
print(y)

spamspamspam
spamspamspam

# question -8

 variables:
 
Variable names typically allow letters (both uppercase and lowercase), digits (except as the first character), and underscores. 
that's why it shows syntax error.

In [4]:
x = 10 # here x is a variable it allows both upper and lower case and accept underscore(_)

X = 10

number_x = 10

In [6]:
1 = 12 # it cannot accepted integer or any symbol
% = 1
$ = 3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1204469494.py, line 1)

# question- 9

1  Integer Conversion: int()

The int() function can be used to convert a value to an integer.
If the value is a string or float representation of an integer.

ex: int(10) # output 10
    int(4.45) # output 4
    
2   Floating-Point Conversion: float()

The float() function can be used to convert a value to a floating-point number.
If the value is a string representation of a number, float() can convert it to a floating-point number.

ex: float(3.14) # output 3.14
    float(5)  # output 5.0
    
3   String Conversion: str()

The str() function can be used to convert a value to its string representation.
str() can convert various types of values to strings.

ex:  str(10)  # Output: '10'
     str(3.14)  # Output: '3.14'
     str(True)  # Output: 'True'

# question - 10

In [9]:
# 'I have eaten' + 99 + 'burritos' - causes an error because it involves concatenating a string with an integer value - 99

# both operands are string but one operands are not string that's why it shows type error.

x = 'I have eaten' + 99 + 'burritos'
print(x)

# using the str(), convert integer into string 

a = 'I have eaten' + str(99) + 'burritos'
print(a)

TypeError: can only concatenate str (not "int") to str

In [11]:
a = 'I have eaten' + str(99) +  'burritos'
print(a)

I have eaten99burritos